#task-page-title {
    /* border: 1px solid #000; */
    margin-top: 5vh;
}

#task-page-title span {
    font-size: 26px;
}


/* Task Properties */

#task-box {
    padding-bottom: 10vh;  
}

#add-task-link {
    margin-bottom: 10px;
}

#task-container {
    border: 1px solid rgba(204, 204, 204, 0.459);
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    box-shadow: -5px 5px 5px -2px rgba(0,0,0,0.17);
    /* height: 10vh; */
}

.task-item {
    border: 1px solid #CCC;
    border-radius: 4px;
    height: 10vh;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 10px 10px 10px;
}

.task-value {
    /* border: 1px solid #000; */
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
}

.task-value span {
    margin-left: 10px;
}

.task-check {
    /* border: 1px solid #000; */
    margin-top: 5px;
}

#menu-bottom {
    position: fixed;
    background-color: #CCC;
    height: 10vh;
    bottom: 0;
    border: 1px solid #000;
}

.menu-item {
    width: 100%;
    height: 10vh;
    border: 1px solid #000;
}