body {
    font-family: 'Work Sans', sans-serif;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
}

/* 
   ======================================================================================
        Estilização do link para voltar para a página inicial do app.
   ======================================================================================
*/

#back-link { margin-top: 1vh; }

#back-link a { color: #FFF; }

/* 
   ======================================================================================
        Fim da estilização do link.
   ======================================================================================
*/

/* 
   ======================================================================================
        O elemento "basic-data" serve como um container para os elementos de foto
        de perfil, nome e o link para habilitar a edição dos dados.
        Este, pode alterar o posicionamento do formulário abaixo deste.
   ======================================================================================
*/

#basic-data { height: 29vh; }

#profile-picture {
    height: 15vh;
    width: 28vw;
    margin-left: 6vw;
    margin-top: 2vh;
    background-color: #FFF;
}

#profile-name {
    height: 6vh;
    margin-top: 5vh;
    margin-left: 4vw;
    color: #FFF;
    font-size: 20px;
}

#edit {
    font-size: 14px;
    color: #FFF;
    text-decoration: underline;
}

/* 
   ======================================================================================
        Fim da estilização do "basic-data".
   ======================================================================================
*/


/* Este elemento, é o container do formulário do "data-box". */
#content-data { height: 72vh; }

/* 
   ======================================================================================
        Estilização da caixa onde há o formulário para atualizar os dados do usuário.
        Aqui contém o elemento "data-box" e o estilo do formulário.
   ======================================================================================
*/


.data-box {
    height: 73vh;
    margin-top: -4vh;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

#title-area {
    margin-top: 2vh;
}

#form-title {
    font-size: 1rem;
}

#form-subtitle {
    font-size: 12px;
    margin-bottom: 10px;
}

label {
    font-size: 0.8rem;
}

button {
    width: 100%;
}

/* 
   ======================================================================================
        Fim da estilização do "data-box" e formulário.
   ======================================================================================
*/