body {
    font-family: 'Muli', sans-serif;
}

#logo-area{
    height: 180px;
    margin-top: 8%;
    border: 1px solid #000;
}

.button-style {
    width: 100%;
    margin-top: 8px;
    font-size: 18px;
}

#registerLinkArea {
    width: 100%;
    margin-left: 25%;
    margin-top: 35px;
}

#keepLoggedArea {
    width: 100%;
    margin-top: 8px;
    font-size: 17px;
}