body {
    font-family: 'Muli', sans-serif;
}

#logo-area{
    margin-top: 2%;
    /* border: 1px solid #000; */
}

#logotype {
    font-size: 109px;
    font-weight: 800;
    margin-left: -10px;
    font-family: 'Nunito', sans-serif;
    color: rgb(189, 26, 26);
}

.button-style {
    width: 100%;
    margin-top: 8px;
    font-size: 18px;
}

i {
    margin-right: 10px; /* Definindo margem entre ícones e texto do botão. */
}

#registerLinkArea {
    width: 100%;
    margin-left: 25%;
    margin-top: 20px;
}

#forgotPasswordArea {
    width: 100%;
    margin-left: 55%;
    margin-top: 10px;
}

#keepLoggedArea {
    width: 100%;
    margin-top: 8px;
    font-size: 17px;
}