body {
    font-family: 'Muli', sans-serif;
}

#bar {
    height: 70px;
    position: fixed;
    z-index: 1;
    background-color: rgb(189, 26, 26);
}

#menu {
    height: 15px;
    margin-left: 25px;
    margin-top: 25px;
    background-color: #fff;
}

#taskArea {
    /* border: 1px solid #000; */
    border-top: 2px solid rgba(204, 204, 204, 0.472);
    border-bottom: 2px solid rgba(204, 204, 204, 0.472);
}

#taskAreaTitle {
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

#task {
    height: 50px;
    margin-top: 10px;
    margin-left: 18px;
    margin-bottom: 2px;
    border-radius: 20px;
    /* border: 1px solid #000000; */
    box-shadow: -1px 0px 7px -1px rgba(0,0,0,0.36);
}


#taskValue {
    font-size: 22px;
    padding: 8px 10px 0px 20px;
}

#allTasksArea {
    font-size: 20px;
    margin-left: 12px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 600;
}







/* Floating Button */
#floatingButton {
    width: 60px;
    height: 60px;
    margin-left: 75%;
    top: 85%;
    position: absolute;
    z-index: 1;
    border-radius: 60px;
    background-color: rgb(189, 26, 26);
}

#floatingButton i {
    font-size: 22px;
    margin-left: 20%;
    margin-top: 65%;
    color: #FFF;
}